<!-- <header class="header">
	<div class="header__container">
		<a href="#" class="header__logo"><img src="img/header/logo.svg" alt="Logo"></a>
		<div class="header__buttons">
			<nav class="header__menu">
				<ul class="header__list">
					<li><a href="#" class="header__link">Neue Casinos</a></li>
					<li><a href="#" class="header__link">Bewertungen</a></li>
					<li>
						<a href="#" class="header__link">Casino-Spiele</a>
						<span class="header__arrow arrow"></span>
						<ul class="header__sub-menu-list sub-menu">
							<div class="sub-menu__box">
								<li><a href="#" class="sub-menu__link">21com Casino</a></li>
								<li><a href="#" class="sub-menu__link">Nitro Casino</a></li>
								<li><a href="#" class="sub-menu__link">JustSpin Casino</a></li>
								<li><a href="#" class="sub-menu__link">Ultra Casino</a></li>
								<li><a href="#" class="sub-menu__link">NeonVegas Casino</a></li>
							</div>
						</ul>
					</li>
					<li><a href="#" class="header__link">Blogposts</a></li>
				</ul>
			</nav>
			<a href="#" class="header__burger"><span></span></a>
			<a href="#" class="header__language">
				<img src="img/header/language.svg" alt="language image">
				<span>Schweiz</span>
			</a>
		</div>
	</div>
</header> -->

<!DOCTYPE html>
<html lang="en">

<head>
	<script src="header.js" defer></script>
</head>

<body>
	<header class="header">
		<div class="header__container">
			<a href="#" class="header__logo"><img src="img/header/logo.svg" alt="Logo"></a>
			<div class="header__buttons">
				<nav class="header__menu">
					<ul class="header__list">
						<li><a href="#" class="header__link">Neue Casinos</a></li>
						<li><a href="#" class="header__link">Bewertungen</a></li>
						<li>
							<a href="#" class="header__link">Casino-Spiele</a>
							<span class="header__arrow arrow"></span>
							<ul class="header__sub-menu-list sub-menu">
								<div class="sub-menu__box">
									<li><a href="#" class="sub-menu__link">21com Casino</a></li>
									<li><a href="#" class="sub-menu__link">Nitro Casino</a></li>
									<li><a href="#" class="sub-menu__link">JustSpin Casino</a></li>
									<li><a href="#" class="sub-menu__link">Ultra Casino</a></li>
									<li><a href="#" class="sub-menu__link">NeonVegas Casino</a></li>
								</div>
							</ul>
						</li>
						<li><a href="#" class="header__link">Blogposts</a></li>
					</ul>
				</nav>
				<a href="#" class="header__burger"><span></span></a>
				<a href="#" class="header__language">
					<img src="img/header/language.svg" alt="language image">
					<span>Schweiz</span>
				</a>
			</div>
		</div>
	</header>

</body>

</html>