@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*==============*/
html,
body {
  height: 100%;
  font-size: 14px;
  color: #252B42;
  font-family: 'Karla';

  .body_active {
  	overflow: hidden;
  }
}

/*=============*/

/*===============================*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

._ibg {
position: relative;
z-index: 1;
& img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
}
/*=========================*/
.header {
	position: relative;
	z-index: 50;
	&::before {
		content: "";
		width: 100%;
		height: 77px;
		background-color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
	}
	/* .header__container */
	&__container {
		position: relative;
		z-index: 4;
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 77px;
	}
	/* .header__logo */
	&__logo {
		@media (max-width: 424px) {
			flex: 0 0 32px;
			overflow: hidden;
		}
	}
	/* .header__buttons */
	&__buttons {
		display: flex;
		align-items: center;
		gap: 60px;
		@media (max-width: 920px) {
			gap: 40px;
		}
		@media (max-width: 767px) {
			gap: 20px;
			justify-content: flex-end;
		}
	}
	/* .header__menu */
	&__menu {
		@media (max-width: 767px) {
			position: fixed;
			left: 0;
			top: -100%;
			width: 100%;
			background-color: #18191F; 
			padding: 30px 0 30px 16px;
			overflow: auto;
			transition: 0.5s ease 0s;
		}
		&.active {
			top: 77px;
			transition: 0.5s ease 0s;
		}
	}
	/* .header__list */
	&__list {
		position: relative;
		z-index: 5;
		display: flex;
		align-items: center;
		gap: 35px;
		@media (max-width: 920px) {
			gap: 20px;
		}
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	/* .header__link */
	&__link {
		font-weight: 500;
		line-height: 150%;
		white-space: nowrap;
		text-transform: uppercase;

		&:hover {
			color: #4559F7;
			transition: 0.3s ease 0s;
		}
		@media (max-width: 767px) {
			color: #fff;
		}
	}
	&__burger {
		display: none;
		@media (max-width: 767px) {
			display: block;
			width: 16.33px;
			height: 11px;
			position: relative;
			z-index: 5;

			& span {
				position: absolute;
				left: 0;
				top: 4.5px;
				border: 1.5px solid #18191F;
				width: 16.33px;
			}
			&:before,&:after {
				content: "";
				position: absolute;
				left: 0;
				width: 16.33px;
				border: 1.5px solid #18191F;
				height: 0;
				transition: 0.3s ease 0s;
			}
			&:before {
				top: 0;
			}
			&:after {
				bottom: 0;
			}
			&.active:before {
				transform: matrix(0.71, 0.7, -0.72, 0.71, 0, 0);
				top: 50%;
				transition: 0.3s ease 0s;
			}
			&.active:after {
				transform: matrix(0.71, -0.7, 0.72, 0.71, 0, 0);
				top: 50%;
				transition: 0.3s ease 0s;
			}
			&.active span {
				display: none;
			}
		}
	}
	/* .header__language */
	&__language {
		display: flex;
		align-items: center;
		gap: 10px;
		& span {
			line-height: 140%;
		}
		@media (max-width: 424px) {
			flex: 0 0 30px;
			overflow: hidden;
		}
		&.active {
			display: none;
		}
	}
}

/*=========================*/
.page {
	flex: 1 1 auto;

	&_active::before {
  @media (max-width: 767.98px) {
    content: '';
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
  }
 }
	/* .page__start */
	&__start {
		padding: 30px 0 61px 0;
		}
	}

.start {
	/* .start__container */
	&__container {
		
	}
	&__body {
		position: relative;
		z-index: 2;
		display: grid;
		//grid-template-columns: minmax(500px, 83%) 1fr;
		//grid-template-rows: 1fr 1fr 1fr;
		grid-template: repeat(3,1fr) / (1, 83%) minmax(17%, 1fr);
		column-gap: 50px;

		align-items: start;
		@media (max-width: 920px) {
			display: inline-grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(1fr);
			column-gap: 0px;
			align-items: start;
			justify-items: start;
	}}
	&__bgimage {
		 position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	}

	/* .start__title */
	&__title {
	//	grid-area: title;
	}
	/* .start__image */
	&__image {
		display: flex;
		flex-shrink: 1;
	//	grid-area: image;
		justify-items: center;
		align-items: center;
		grid-row-start: 1;
		grid-row-end: 4;
		grid-column-start: 2;
		//padding: 112px 0 146px 0 ;
		margin: auto;
		@media (max-width: 1100px) {
			grid-row-start: 1;
		grid-row-end: 3;
		}
		@media (max-width: 920px) {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		padding: 16px 0 32px 0;
		}

		& img  {
			@media (max-width: 767px) {
				max-width: 270px;
				max-height: 322px;
			}
		}
	}
	/* .start__text */
	&__text {
	//	grid-area: text;
		max-width: 820px;
		font-size: 16px;
		line-height: 140%;
		margin-bottom: 40px;
		

		& > :first-child{
			margin-bottom: 10px;
		}
	}
	/* .start__links */
	&__links {
	//	grid-area: links;
	}
}
.title {
	margin-bottom: 40px;
	/* .title__navigation */
	&__navigation {
		padding: 0 0 0 22px;
	}
	/* .title__label */
	&__label {
		font-weight: 700;
		font-size: 52px;
		line-height: 130%;
		margin-bottom: 10px;
		@media (max-width: 767px) {
			font-size: 32px;
		}
	}
	/* .title__author */
	&__author {
	}
}
.navigation-title {
	display: flex;
	align-items: center;
	
	//justify-content: space-between;
	/* .navigation-title__item */
	&__item {
		display: block;
		font-size: 12px;
		line-height: 140%;
		color: #18191F;
		margin-bottom: 60px;
		@media (max-width: 920px) {
			margin-bottom: 30px;
		}
		@media (max-width: 920px) {
			margin-bottom: 17px;
		}
		&:not(:last-child) {
			margin-right: 30px;
		}
		&:first-child {
			color: #4559F7;
			position: relative;
			&::before{
				position: absolute;
				top: 0;
				left: -22px;
				content: url('../img/main/home.svg');
			}
			&::after {
				content: "»";
				position: absolute;
				top: -3px;
				font-weight: 700;
				font-size: 16px;
				line-height: 140%;
				right: -20px;
				color: #18191F;
			}
		}
	}
}
.author-title {
	display: flex;
	/* .author-title__item */
	&__item {
		&:not(:last-child) {
			margin-right: 42px;
		}
		&:last-child {
			position: relative;
			&::before {
				content: url('../img/main/pen.svg');
				position: absolute;
				top: 0;
				left: -17px;
			}
		}
	}
}
.links-start {
	/* .links-start__list */
	&__list {
	}
	/* .links-start__item */
	&__item {
		display: block;
		padding-left: 16px;
		font-weight: 700;
		font-size: 16px;
		line-height: 140%;
		color: #4559F7;
		position: relative;
		margin-bottom: 15px;
		@media (max-width: 920px) {
			margin-bottom: 12px;
		}
		&:hover {
			text-decoration: underline;
		}
		&::before {
			content: "";
			position: absolute;
			top: 8px;
			left: 0px;
			width: 6px;
			height: 6px;
			background: #18191F;
		}
	}
}
.footer {
}
