@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  position: relative;
  z-index: 50;
  /* .header__container */
  /* .header__logo */
  /* .header__buttons */
  /* .header__menu */
  /* .header__list */
  /* .header__link */
  /* .header__language */
}
.header::before {
  content: "";
  width: 100%;
  height: 77px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.header__container {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 77px;
}
@media (max-width: 424px) {
  .header__logo {
    flex: 0 0 32px;
    overflow: hidden;
  }
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media (max-width: 920px) {
  .header__buttons {
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .header__buttons {
    gap: 20px;
    justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    background-color: #18191F;
    padding: 30px 16px;
    overflow: auto;
    transition: 0.5s ease 0s;
  }
}
.header__menu.active {
  top: 77px;
  transition: 0.5s ease 0s;
}
.header__list {
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 35px;
}
.header__list > li.list > a {
  margin-right: 18px;
}
@media (max-width: 767px) {
  .header__list > li.list > a {
    margin-right: 0;
  }
}
.header__list > li.list {
  position: relative;
}
@media (max-width: 767px) {
  .header__list > li.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header__list > li.list.open {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-area: column-end;
  }
  .header__list > li.list.open > span {
    justify-self: end;
  }
}
@media (max-width: 920px) {
  .header__list {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .header__list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__link {
  font-weight: 500;
  line-height: 150%;
  white-space: nowrap;
  text-transform: uppercase;
}
.header__link:hover {
  color: #4559F7;
  transition: 0.3s ease 0s;
}
@media (max-width: 767px) {
  .header__link {
    color: #fff;
  }
}
.header__arrow {
  position: absolute;
  top: 8px;
  right: 0;
}
@media (max-width: 767px) {
  .header__arrow {
    position: relative;
  }
}
.header__arrow.open {
  transform: rotate(180deg);
}
.header__sub-menu-list {
  display: block;
  position: absolute;
  top: -250px;
  left: 0;
  transition: 0.3s ease 0s top;
}
@media (max-width: 767px) {
  .header__sub-menu-list {
    display: none;
    position: relative;
  }
}
.header__sub-menu-list.active {
  top: 27px;
}
@media (max-width: 767px) {
  .header__sub-menu-list.active {
    top: 0;
    display: block;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    width: 16.33px;
    height: 11px;
    position: relative;
    z-index: 5;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    top: 4.5px;
    border: 1.5px solid #18191F;
    width: 16.33px;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    left: 0;
    width: 16.33px;
    border: 1.5px solid #18191F;
    height: 0;
    transition: 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: matrix(0.71, 0.7, -0.72, 0.71, 0, 0);
    top: 50%;
    transition: 0.3s ease 0s;
  }
  .header__burger.active:after {
    transform: matrix(0.71, -0.7, 0.72, 0.71, 0, 0);
    top: 50%;
    transition: 0.3s ease 0s;
  }
  .header__burger.active span {
    display: none;
  }
}
.header__language {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__language span {
  line-height: 140%;
}
@media (max-width: 424px) {
  .header__language {
    flex: 0 0 30px;
    overflow: hidden;
  }
}
.header__language.active {
  display: none;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 5px solid #121212;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
@media (max-width: 767px) {
  .arrow {
    border-top: 10px solid #fff;
  }
}

.sub-menu {
  padding-top: 20px;
}
.sub-menu__box {
  background-color: #18191F;
  padding: 20px;
}
@media (max-width: 767px) {
  .sub-menu__box {
    padding: 0;
  }
}
.sub-menu__box > li:not(:last-child) {
  margin-bottom: 8px;
}
.sub-menu__link {
  white-space: nowrap;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}
.sub-menu__link:hover {
  color: #4559F7;
  text-decoration: underline;
  transition: 0.4s;
}

.footer {
  background-color: #18191F;
  padding: 50px 20px;
  position: relative;
  z-index: 50;
}
.footer__container {
  display: flex;
}
@media (max-width: 419px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__columns {
  flex: 1 1 63%;
  display: flex;
}
@media (max-width: 992px) {
  .footer__columns {
    flex-wrap: wrap;
  }
}
@media (max-width: 419px) {
  .footer__columns {
    margin-bottom: 50px;
  }
}
@media (max-width: 992px) {
  .footer__box {
    flex: 1 1 50%;
  }
}
@media (max-width: 767px) {
  .footer__box {
    flex: 1 1 100%;
  }
}
.footer__box:not(:last-child) {
  margin-right: 82px;
}
@media (max-width: 1200px) {
  .footer__box:not(:last-child) {
    margin-right: 60px;
  }
}
@media (max-width: 992px) {
  .footer__box:not(:last-child) {
    margin: 0 0 25px 0;
  }
}
@media (max-width: 419px) {
  .footer__box:not(:last-child) {
    margin-bottom: 40px;
  }
}
.footer__content {
  flex: 1 1 37%;
}

.box-footer__title {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 16px;
  line-height: 21px;
  position: relative;
  font-weight: 500;
}
.box-footer__title::after {
  position: absolute;
  bottom: -14px;
  content: "";
  display: block;
  height: 1px;
  width: 130px;
  background-color: #606060;
  margin-bottom: 8px;
}
.box-footer__item {
  color: #fff;
  font-size: 14px;
}
.box-footer__item:hover {
  color: #4559F7;
}
.box-footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.content-footer {
  display: flex;
  flex-direction: column;
}
.content-footer__links {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .content-footer__links {
    margin-bottom: 25px;
  }
}
@media (max-width: 419px) {
  .content-footer__links {
    margin-bottom: 50px;
  }
}
.content-footer__list {
  display: flex;
  flex-wrap: wrap;
}
.content-footer__link {
  color: #fff;
  white-space: nowrap;
  margin-bottom: 10px;
}
.content-footer__link:hover {
  color: #4559F7;
}
.content-footer__link:not(:last-child) {
  margin-right: 20px;
}
.content-footer__text {
  color: #fff;
  line-height: 22.4px;
}

.logo-footer {
  margin-bottom: 20px;
}
@media (max-width: 419px) {
  .logo-footer {
    margin-bottom: 50px;
  }
}
.logo-footer__link {
  display: flex;
  align-items: center;
}
.logo-footer__title {
  margin-left: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

html,
body {
  height: 100%;
  font-size: 14px;
  color: #18191F;
  font-family: "Karla";
}
html .body_active,
body .body_active {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  padding: 135px 0;
  background-color: #f9f9f9;
}
@media (max-width: 992px) {
  .page {
    padding: 92px 0;
  }
}
@media (max-width: 600px) {
  .page {
    padding: 40px 0;
  }
}
.page_active {
  position: relative;
}
.page_active::before {
  content: "";
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}
.registation {
  padding: 25px;
  border: 1px solid #E2E2E2;
  background-color: #fff;
  border-radius: 8px;
  width: 40%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .registation {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .registation {
    padding: 0 15px;
    width: 100%;
    background-color: transparent;
    border: none;
  }
}
.registation__title {
  line-height: 130%;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .registation__title {
    font-size: 28px;
  }
}
.registation__form {
  display: flex;
  flex-direction: column;
}
.registation__input {
  flex: 1 1 100%;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}
.registation__input:focus {
  outline: none;
  border-color: #6cb2eb;
  box-shadow: 0 0 5px rgba(108, 178, 235, 0.5);
}
.registation__input:not(:last-child) {
  margin-bottom: 15px;
}
.registation__input:last-child {
  margin-bottom: 20px;
}
.registation__btn {
  padding: 15px 50px;
  border: 1px solid #DB46B1;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registation__btn:hover {
  border: 1px solid #ccc;
  color: #fff;
  background-color: #A708A7;
}
@media (max-width: 600px) {
  .registation__btn {
    background-color: #A708A7;
    color: #fff;
    width: 70%;
  }
}

/*# sourceMappingURL=registation.css.map */
