@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  position: relative;
  z-index: 50;
  /* .header__container */
  /* .header__logo */
  /* .header__buttons */
  /* .header__menu */
  /* .header__list */
  /* .header__link */
  /* .header__language */
}
.header::before {
  content: "";
  width: 100%;
  height: 77px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.header__container {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 77px;
}
@media (max-width: 424px) {
  .header__logo {
    flex: 0 0 32px;
    overflow: hidden;
  }
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media (max-width: 920px) {
  .header__buttons {
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .header__buttons {
    gap: 20px;
    justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    background-color: #18191F;
    padding: 30px 16px;
    overflow: auto;
    transition: 0.5s ease 0s;
  }
}
.header__menu.active {
  top: 77px;
  transition: 0.5s ease 0s;
}
.header__list {
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 35px;
}
.header__list > li.list > a {
  margin-right: 18px;
}
@media (max-width: 767px) {
  .header__list > li.list > a {
    margin-right: 0;
  }
}
.header__list > li.list {
  position: relative;
}
@media (max-width: 767px) {
  .header__list > li.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header__list > li.list.open {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-area: column-end;
  }
  .header__list > li.list.open > span {
    justify-self: end;
  }
}
@media (max-width: 920px) {
  .header__list {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .header__list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__link {
  font-weight: 500;
  line-height: 150%;
  white-space: nowrap;
  text-transform: uppercase;
}
.header__link:hover {
  color: #4559F7;
  transition: 0.3s ease 0s;
}
@media (max-width: 767px) {
  .header__link {
    color: #fff;
  }
}
.header__arrow {
  position: absolute;
  top: 8px;
  right: 0;
}
@media (max-width: 767px) {
  .header__arrow {
    position: relative;
  }
}
.header__arrow.open {
  transform: rotate(180deg);
}
.header__sub-menu-list {
  display: block;
  position: absolute;
  top: -250px;
  left: 0;
  transition: 0.3s ease 0s top;
}
@media (max-width: 767px) {
  .header__sub-menu-list {
    display: none;
    position: relative;
  }
}
.header__sub-menu-list.active {
  top: 27px;
}
@media (max-width: 767px) {
  .header__sub-menu-list.active {
    top: 0;
    display: block;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    width: 16.33px;
    height: 11px;
    position: relative;
    z-index: 5;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    top: 4.5px;
    border: 1.5px solid #18191F;
    width: 16.33px;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    left: 0;
    width: 16.33px;
    border: 1.5px solid #18191F;
    height: 0;
    transition: 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: matrix(0.71, 0.7, -0.72, 0.71, 0, 0);
    top: 50%;
    transition: 0.3s ease 0s;
  }
  .header__burger.active:after {
    transform: matrix(0.71, -0.7, 0.72, 0.71, 0, 0);
    top: 50%;
    transition: 0.3s ease 0s;
  }
  .header__burger.active span {
    display: none;
  }
}
.header__language {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__language span {
  line-height: 140%;
}
@media (max-width: 424px) {
  .header__language {
    flex: 0 0 30px;
    overflow: hidden;
  }
}
.header__language.active {
  display: none;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 5px solid #121212;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
@media (max-width: 767px) {
  .arrow {
    border-top: 10px solid #fff;
  }
}

.sub-menu {
  padding-top: 20px;
}
.sub-menu__box {
  background-color: #18191F;
  padding: 20px;
}
@media (max-width: 767px) {
  .sub-menu__box {
    padding: 0;
  }
}
.sub-menu__box > li:not(:last-child) {
  margin-bottom: 8px;
}
.sub-menu__link {
  white-space: nowrap;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}
.sub-menu__link:hover {
  color: #4559F7;
  text-decoration: underline;
  transition: 0.4s;
}

.footer {
  background-color: #18191F;
  padding: 50px 20px;
  position: relative;
  z-index: 50;
}
.footer__container {
  display: flex;
}
@media (max-width: 419px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__columns {
  flex: 1 1 63%;
  display: flex;
}
@media (max-width: 992px) {
  .footer__columns {
    flex-wrap: wrap;
  }
}
@media (max-width: 419px) {
  .footer__columns {
    margin-bottom: 50px;
  }
}
@media (max-width: 992px) {
  .footer__box {
    flex: 1 1 50%;
  }
}
@media (max-width: 767px) {
  .footer__box {
    flex: 1 1 100%;
  }
}
.footer__box:not(:last-child) {
  margin-right: 82px;
}
@media (max-width: 1200px) {
  .footer__box:not(:last-child) {
    margin-right: 60px;
  }
}
@media (max-width: 992px) {
  .footer__box:not(:last-child) {
    margin: 0 0 25px 0;
  }
}
@media (max-width: 419px) {
  .footer__box:not(:last-child) {
    margin-bottom: 40px;
  }
}
.footer__content {
  flex: 1 1 37%;
}

.box-footer__title {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 16px;
  line-height: 21px;
  position: relative;
  font-weight: 500;
}
.box-footer__title::after {
  position: absolute;
  bottom: -14px;
  content: "";
  display: block;
  height: 1px;
  width: 130px;
  background-color: #606060;
  margin-bottom: 8px;
}
.box-footer__item {
  color: #fff;
  font-size: 14px;
}
.box-footer__item:hover {
  color: #4559F7;
}
.box-footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.content-footer {
  display: flex;
  flex-direction: column;
}
.content-footer__links {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .content-footer__links {
    margin-bottom: 25px;
  }
}
@media (max-width: 419px) {
  .content-footer__links {
    margin-bottom: 50px;
  }
}
.content-footer__list {
  display: flex;
  flex-wrap: wrap;
}
.content-footer__link {
  color: #fff;
  white-space: nowrap;
  margin-bottom: 10px;
}
.content-footer__link:hover {
  color: #4559F7;
}
.content-footer__link:not(:last-child) {
  margin-right: 20px;
}
.content-footer__text {
  color: #fff;
  line-height: 22.4px;
}

.logo-footer {
  margin-bottom: 20px;
}
@media (max-width: 419px) {
  .logo-footer {
    margin-bottom: 50px;
  }
}
.logo-footer__link {
  display: flex;
  align-items: center;
}
.logo-footer__title {
  margin-left: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

html,
body {
  height: 100%;
  font-size: 14px;
  color: #252B42;
  font-family: "Karla";
}
html .body_active,
body .body_active {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
  /* .page__start */
}
.page__casino {
  position: relative;
  z-index: 2;
  padding: 60px 0;
  background-color: #f9f9f9;
}
@media (max-width: 767.98px) {
  .page_active::before {
    content: "";
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
  }
}

.casino {
  /* .casino__container */
  /* .casino__list */
  /* .casino__tops */
}
.casino__container {
  display: grid;
  grid-template-columns: 67.175% auto;
}
@media (max-width: 1200px) {
  .casino__container {
    grid-template-columns: 77% auto;
  }
}
@media (max-width: 1050px) {
  .casino__container {
    grid-template-columns: 100% auto;
  }
}
.casino__tops {
  padding-left: 50px;
}
@media (max-width: 1200px) {
  .casino__tops {
    padding-left: 25px;
  }
}
@media (max-width: 1050px) {
  .casino__tops {
    display: none;
  }
}
.casino__tops > div {
  border: 1px solid #E2E2E2;
  border-radius: 8px;
  padding: 20px;
  max-width: 350px;
}
.casino__tops > div > *:first-child {
  margin-bottom: 30px;
}
.casino__tops > div:not(:last-child) {
  margin-bottom: 20px;
}

.list-casino {
  /* .list-casino__title */
  /* .list-casino__subtitles */
  /* .list-casino__elements */
  /* .list-casino__button */
}
.list-casino__title {
  margin-bottom: 40px;
}
.list-casino__subtitles {
  margin-bottom: 23px;
}
@media (max-width: 767px) {
  .list-casino__subtitles {
    display: none;
  }
}
.list-casino__button {
  text-align: center;
}
.list-casino__button > a {
  display: inline-block;
  padding: 19px 61.5px;
  border: 1px solid #DB46B1;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #18191F;
}
.list-casino__button > a:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #DB46B1;
}

.title-casino-block {
  color: #18191F;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
}

.subtitles {
  /* .subtitles__list */
  /* .subtitles__item */
}
.subtitles__list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, auto);
}
.elements-casino {
  /* .elements-casino__cards */
  /* .elements-casino__list */
  /* .elements-casino__card */
}
.elements-casino__cards {
  margin-bottom: 30px;
}
.elements-casino__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.elements-casino__card {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(6, auto);
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 8px;
  position: relative;
  gap: 10px;
}
.elements-casino__card:nth-child(2)::before {
  content: "2";
}
.elements-casino__card:nth-child(3)::before {
  content: "3";
}
.elements-casino__card:nth-child(4)::before {
  content: "4";
}
.elements-casino__card:nth-child(5)::before {
  content: "5";
}
.elements-casino__card:nth-child(6) {
  display: none;
}
.elements-casino__card:nth-child(6).show {
  display: grid;
}
.elements-casino__card:nth-child(6)::before {
  content: "6";
}
.elements-casino__card:nth-child(7) {
  display: none;
}
.elements-casino__card:nth-child(7).show {
  display: grid;
}
.elements-casino__card:nth-child(7)::before {
  content: "7";
}
.elements-casino__card:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .elements-casino__card {
    display: inline-grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(1, auto);
    justify-items: center;
    gap: 0;
  }
  .elements-casino__card > div {
    text-align: center;
  }
}
.elements-casino__card:hover {
  border: 1px solid #DB46B1;
}
.elements-casino__card:hover::before {
  background-color: #DB46B1;
}
.elements-casino__card::before {
  position: absolute;
  content: "1";
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 38px;
  border: 1px solid #E2E2E2;
  border-radius: 8px 0px;
  top: 0;
  left: 0;
}

.image-element__text {
  font-size: 10px;
  line-height: 150%;
  position: relative;
}
.image-element__text::after {
  position: relative;
  top: 7px;
  right: -5px;
  content: url("../../../img/casino/cards/02.svg");
}

.card-element {
  padding: 30px 20px 26px 45px;
  /* .card-element__image */
  /* .card-element__rating */
  /* .card-element__title */
  /* .card-element__speed */
  /* .card-element__deposit */
  /* .card-element__website */
}
@media (max-width: 767px) {
  .card-element {
    padding: 20px 39px;
  }
}
@media (max-width: 420px) {
  .card-element {
    padding: 10px 15px;
  }
}
.card-element__image {
  background: url("../../../img/lazy/loading'.gif") center/50px no-repeat;
}
@media (max-width: 767px) {
  .card-element__image {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .card-element__image img {
    width: 200px;
  }
}
.card-element__rating {
  white-space: nowrap;
}
@media (max-width: 767px) {
  .card-element__rating {
    margin-bottom: 20px;
  }
}
.card-element__rating p {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  position: relative;
}
.card-element__rating p::before {
  position: relative;
  content: url("../../../img/casino/cards/rating.svg");
  top: 2.5px;
  margin-right: 10px;
}
.card-element__title {
  max-width: 180px;
}
@media (max-width: 767px) {
  .card-element__title {
    max-width: 237px;
    margin-bottom: 20.5px;
  }
}
.card-element__title > p:first-child {
  font-weight: 800;
  font-size: 18px;
  line-height: 130%;
  color: #4559F7;
  margin-bottom: 3px;
}
.card-element__title > p:first-child:hover {
  text-decoration: underline;
}
@media (max-width: 920px) {
  .card-element__title > p:first-child {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .card-element__title > p:first-child {
    font-size: 24px;
    margin-bottom: 0;
  }
}
.card-element__title > p:last-child {
  line-height: 140%;
  color: #18191F;
}
@media (max-width: 767px) {
  .card-element__title > p:last-child {
    font-size: 16px;
    line-height: 140%;
  }
}
.card-element__speed {
  white-space: nowrap;
}
@media (max-width: 767px) {
  .card-element__speed {
    grid-row-start: 5;
    grid-row-end: 6;
    margin-bottom: 20px;
  }
}
.card-element__speed > p {
  position: relative;
}
.card-element__speed > p::before {
  content: url("../../../img/casino/cards/oclock.svg");
  position: relative;
  top: 4px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .card-element__deposit {
    grid-row-start: 7;
    grid-row-end: 8;
  }
}
.card-element__website {
  display: inline-flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .card-element__website {
    margin-bottom: 20.5px;
  }
}

.deposit-card__list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8px;
  column-gap: 4px;
}
@media (max-width: 767px) {
  .deposit-card__list {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    row-gap: 14px;
    column-gap: 8px;
  }
}
.deposit-card__list > li {
  width: 52px;
  height: 24px;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .deposit-card__list > li {
    width: 96px;
    height: 44px;
    padding: 6px 20px;
  }
  .deposit-card__list > li img {
    flex: 1 0 auto;
  }
}
@media (max-width: 420px) {
  .deposit-card__list > li {
    width: 76px;
    height: 34px;
  }
}

.website-card {
  /* .website-card__button */
  /* .website-card__link */
}
.website-card__button {
  padding: 15px 22px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 5px;
}
@media (max-width: 920px) {
  .website-card__button {
    padding: 12px 18px;
  }
}
@media (max-width: 767px) {
  .website-card__button {
    padding: 24px 81px;
    font-size: 16px;
    margin-bottom: 15px;
  }
}
@media (max-width: 420px) {
  .website-card__button {
    padding: 20px 70px;
  }
}
.website-card__link {
  text-align: center;
  font-size: 12px;
  line-height: 140%;
  color: #4559F7;
}
@media (max-width: 767px) {
  .website-card__link {
    font-size: 16px;
  }
}
.website-card__link:hover {
  text-decoration: underline;
}

.tops-casino {
  /* .tops-casino__methods */
  /* .tops-casino__top-slot */
  /* .tops-casino__monthly */
}
.methods {
  /* .methods__title */
  /* .methods__to-pay */
  /* .methods__list */
  /* .methods__link */
}
.methods__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 20px;
  row-gap: 30px;
  justify-items: center;
}
@media (max-width: 1200px) {
  .methods__list {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    row-gap: 20px;
    column-gap: 15px;
  }
}
@media (max-width: 1150px) {
  .methods__list {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, auto);
    row-gap: 10px;
  }
}
.methods__list > li {
  width: 93px;
  height: 40px;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.methods__list > li:hover {
  background-color: #fff;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
}
.top-slot {
  /* .top-slot__title */
  /* .top-slot__obtions */
  /* .top-slot__list */
  /* .top-slot__link */
  /* .top-slot__arrow */
  /* .top-slot__sub-list */
}
.top-slot__list > * {
  color: #4559F7;
}
.top-slot__list > li:not(:last-child) {
  margin-bottom: 20px;
}
.top-slot__list > li {
  position: relative;
}
.top-slot__link:hover {
  text-decoration: underline;
}
.top-slot__arrow {
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  margin-left: 10px;
}
.top-slot__arrow.open {
  transform: rotate(180deg);
}
.top-slot__sub-list {
  display: none;
  margin-top: 10px;
  padding-left: 20px;
}
.top-slot__sub-list.active {
  display: block;
}
.top-slot__sub-list > li:not(:last-child) {
  margin-bottom: 10px;
}

.monthly-top-casino {
  /* .monthly-top-casino__cards */
  /* .monthly-top-casino__list */
  /* .monthly-top-casino__card */
}
.monthly-top-casino__card:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .monthly-top-casino__card:not(:last-child) {
    margin-bottom: 40px;
  }
}

.card-monthly {
  display: flex;
  gap: 20px;
  /* .card-monthly__image */
  /* .card-monthly__content */
  /* .card-monthly__title */
  /* .card-monthly__button */
}
@media (max-width: 1200px) {
  .card-monthly {
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .card-monthly__image {
    width: 130px;
  }
  .card-monthly__image img {
    width: 100%;
  }
}
.card-monthly__content {
  max-width: 153px;
}
@media (max-width: 1200px) {
  .card-monthly__content {
    max-width: 110px;
  }
}
.card-monthly__title {
  font-weight: 800;
  line-height: 140%;
  color: #4559F7;
  margin-bottom: 5px;
}
.card-monthly__title:hover {
  text-decoration: underline;
}
.card-monthly__button {
  padding: 9px 33.5px;
}

.sub-list-top-slot {
  /* .sub-list-top-slot__link */
}
.button-block-casino {
  display: inline-block;
  background-color: #DB46B1;
  border-radius: 6px;
  color: #fff;
  text-align: center;
}
.button-block-casino:active {
  background-color: #A708A7;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
}

.title-tops-casino {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #18191F;
}

/*# sourceMappingURL=top-casinos.css.map */
