<footer class="footer">
	<div class="footer__container">
		<div class="footer__columns">
			<div class="footer__box box-footer">
				<div class="">
					<p class="box-footer__title">Top-Bewertungen</p>
					<ul class="box-footer__list">
						<li class="box-footer__item"><a href="#">20Bet</a></li>
						<li class="box-footer__item"><a href="#">National</a></li>
						<li class="box-footer__item"><a href="#">Playamo</a></li>
						<li class="box-footer__item"><a href="#">Bondibet</a></li>
						<li class="box-footer__item"><a href="#">Wild Fortune</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__box box-footer">
				<div class="">
					<p class="box-footer__title">Beliebte Kategorien</p>
					<ul class="box-footer__list">
						<li class="box-footer__item"><a href="#">Casino</a></li>
						<li class="box-footer__item"><a href="#">Bonusse</a></li>
						<li class="box-footer__item"><a href="#">Spielautomaten</a></li>
						<li class="box-footer__item"><a href="#">Spiele</a></li>
						<li class="box-footer__item"><a href="#">Zahlungmethoden</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__box box-footer">
				<div class="">
					<p class="box-footer__title">Beliebte Seiten</p>
					<ul class="box-footer__list">
						<li class="box-footer__item"><a href="#">Paysafecard</a></li>
						<li class="box-footer__item"><a href="#">Handy zahlung</a></li>
						<li class="box-footer__item"><a href="#">Live Casino</a></li>
						<li class="box-footer__item"><a href="#">Mobile Casino</a></li>
						<li class="box-footer__item"><a href="#">Ohne Einzahlung</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="footer__content content-footer">
			<div class="content-footer__links">
				<ul class="content-footer__list">
					<li class="content-footer__link"><a href="#">Uber Uns</a></li>
					<li class="content-footer__link"><a href="#">Bedingungen</a></li>
					<li class="content-footer__link"><a href="#">Datenschutz-Bestimmungen</a></li>
					<li class="content-footer__link"><a href="#">Kontakt</a></li>
				</ul>
			</div>
			<div class="content-footer__logo logo-footer">
				<a href="#" class="logo-footer__link">
					<img class="logo-footer__image" src="/img/footer/logologo-footer.svg" alt="Logo footer">
					<span class="logo-footer__title">hotsport.ch</span>
				</a>
			</div>
			<div class="content-footer__text">
				hotsport.ch ist der unbestreitbare Leitfaden für Online-Casinos für den erfahrenen Spieler. Besuchen
				Sie uns regelmäßig, um über neue Informationen und die neuesten Updates auf dem Laufenden zu bleiben.
			</div>
		</div>
	</div>
</footer>